<!-- <p id="notice"><%#= notice %></p> application.html.erbに記述したためコメントアウト -->

<!-- current_user 現在ログインしているユーザの情報、つまり自分の情報を返すメソッド -->
<!-- <div><%#= current_user.name%>さん、ようこそ！</div> -->
<!-- ログアウトするとnameがnil:NilClassのエラー発生 原因：root 'blogs#index'になっているためログアウトするとcurrent_userが見つからないためエラーになる -->

<% if user_signed_in? %>
  <div><%= current_user.name%>さん、ようこそ！</div>
<% else %>
  <div>ログインして下さい</div>
<% end %>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.user.name %></td>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
