<!DOCTYPE html>
<html>
  <head>
    <title>AjaxEx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- user_signed_in? ユーザーのログイン有無をboolean値で返すメソッド -->
    <!-- ログイン時には「ログアウト」と表示させ、未ログイン時には「ログイン」「サインアップ」を表示する -->
    <% if user_signed_in? %>
      <%= link_to "ブログ投稿", blogs_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to '新規作成', new_user_registration_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
